<!-- Author: Christina Kampel -->
<!DOCTYPE html>
<html>
<head>
    <title>Go, Go, Gadget!</title>
    <!-- Information we want to show on the App Tab -->
    <style>
        .column{
            width:50%;
            float:left;
        }
        .row::after{
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>



<body>
    <h1>Go, Go, Gadget!</h1>
    <h2>Raspberry Pi Weather Stations for the Absolute Beginner</h2>
    <p>Christina Kampel<br>
        Digital Engineering Fellowship<br>
        University of Calgary<br>
        Spring 2022<br>
    </p>

    <div class="row">
        <div class="column">
            <img src="/static/line_graph_temp.png" alt="Line Graph of Temperature Data" style="float:left; width:100%">
        </div>
        <div class="column">
            <img src="/static/line_graph_humi.png" alt="Line Graph of Relative Humidity Data" style="float:left; width:100%">
        </div>
    </div>

    <p>
        Average Percent Difference Between DHT11 and DHT20 Sensors (Temperature): <b>{{ t_avg_percent_diff }}</b>%<br>
        Average Percent Difference Between DHT11 and DHT20 Sensors (Relative Humidity)): <b>{{ h_avg_percent_diff }}</b>%<br>
    </p>

</body>
</html>