body {
  background: #E2C2B3;
  color: #fff;
  margin-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffff;
}

.bg-steel {
  background-color: #687477;
}

.site-header .navbar-nav .nav-link {
  color: #E2C2B3;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 100;
}

.content-section {
  padding: 4px 30px;
  background: #403234;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: #ffff;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.article-metadata {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #687477
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2rem;
}